.color-preview{
    border-radius: 100%;
    height: 100px;
    width:100px;
}


.swatch-creator-wrapper{
    display: flex;
    flex-direction: left;
    margin: 10px;
  }

input {
    text-align: center;
    margin: 10px;
}
.btn {
    background-color: cadetblue;
    margin: 20px;
}