.color-preview{
    border-radius: 100%;
    height: 100px;
    width:100px;
    /* background-color: aquamarine; */
}

div.card {
    float: left;
    width: 30%;
    margin: 20px;
    padding: 10px;
}